@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');


* {
  box-sizing: border-box;
}

body {
  background-color: #55E6C1;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.display {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  width: 400px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
} 


.box {
  margin: 10px;
  border: 2px solid #333;
  background-color: #58B19F;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  width: 100px;
  height: 100px;
}

.box.active {
  opacity: 0.7;
  transform: scale(0.95);
}